*{
	margin:0;
	padding:0;
	border:none;
	outline: none;
}
html{
	height: 100%;
}
body{

font-family: arial;
font-size: 16px;
line-height: 1.5em;
color: #fff;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f3c5bd+0,e86c57+36,ff6600+75,c72200+100 */
background: rgb(243,197,189); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(243,197,189,1) 0%, rgba(232,108,87,1) 36%, rgba(255,102,0,1) 75%, rgba(199,34,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 36%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(243,197,189,1) 0%,rgba(232,108,87,1) 36%,rgba(255,102,0,1) 75%,rgba(199,34,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=1 ); /* IE6-9 */
}

#container{
	width: 330px;
	min-height: 400px;
	background: #CC0E4E;
	overflow: auto;
	margin: 100px auto;
	border-radius: 10px;
	box-shadow: 0 10px 8px -8px #CC0E4E;
}

#audio-img{
	position:relative;
	overflow: hidden;
	height:200px;
	margin-bottom: 20px;

}
#audio-img.cover{
	width: 100%;
}

#audio-info{
    text-align: center;
}

#audio-info.artist{
	font-weight: bold;
}

input#volume{
	width: 96%;
	background: grey;
	height: 1px;
	margin-left: 2%;
}

input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance:none !important;
	background: url(../images/knob.png) no-repeat;
	width: 12px;
	height: 12px;

}

#buttons{
	width: 90%;
	display: inline-block;
	/*margin: 15px auto;*/
	margin-left: 23px;

}

button#play{
	width: 70px;
	height: 70px;
	/*float: left;*/
	background: url(../images/play.png);
	margin-top: 12px;

}
button#pause{
	width: 70px;
	height: 70px;
	/*float: left;*/
	background: url(../images/pause.png);
	
	
}
button#stop{
	width: 70px;
	height: 70px;
	/*float: left;*/
	background: url(../images/stop.png);
	margin-top: 12px;
}
button#prev{
	width: 70px;
	height: 70px;
	float: left;
	background: url(../images/prev.png) no-repeat;
	margin-top: 35px;
}
button#next{
	width: 70px;
	height: 70px;
	float: right;
	background: url(../images/next.png) no-repeat;	
	margin-top: 35px;
	
}

#tracker{
	position: relative;
	width: 100%;
}

#progress-bar{
	width: 70%;
	height: 10px;
	background: url(../images/progress_bg.png) no-repeat;
	margin-left: 8px;
	margin-bottom: 20px;
	margin-top: 9px;
	float: left;
	overflow: hidden;


}

#progress{
	background: url(../images/progress.png) no-repeat;
	max-width: 70%;
	height: 10px;
	display: inline-block;
	position: absolute;
	overflow: hidden;
}

.clearfix{
	clear: both;
}

#duration{
 	position: absolute;
 	margin-right: 10px;
 	padding: 0 20px;	
}

#playlist{
	margin-left: 10px;
	margin-bottom: 5px;
}

#playlist li{
	cursor: pointer;
}

#playlist li.active{
	font-weight: bold;
	width: 90%;
	padding: 3px;
	background: #666;
}
